.cell {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px, 0px, 0px, 0px;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    box-sizing: border-box;
}

.empty-cell {
    background-color: beige;
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px, 0px, 0px, 0px;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
}